<!-- IF .trackers -->
<li id="trackers" class="dropdown-container responsive-menu" data-skip-responsive="true">
	<a href="#" class="dropdown-trigger">
		<i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{L_TRACKERS}</span>
	</a>
	<div class="dropdown">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<ul class="dropdown-contents" role="menu">
			<!-- BEGIN trackers -->
			<li>
				<a href="{trackers.U_VIEWTRACKER}" role="menuitem">
					<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>{trackers.TRACKER_NAME}</span>
				</a>
			</li>
			<!-- END trackers -->
		</ul>
	</div>
</li>
<!-- ENDIF -->
