/* Trackers Style Sheet
---------------------------------------- */
.main {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	position: relative;
	overflow: hidden;
}

.main h3 {
	text-transform: none;
	border-bottom: none;
	font-size: 1.2em;
}

.main h3 span {
	text-transform: lowercase;
	color: #000000;
}

.wide {
	width: 100% !important;
}

.extras {
	float: right;
	width: 260px;
	margin: 26px 0 30px 30px;
}

.mini-panel {
	background-color: #ebebeb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 5px;
	padding: 5px 10px;
}

.mini-panel h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333333;
	margin: 5px 0 0;
}

.menu {
	border-top: 1px solid #ffffff;
	list-style: none;
}

.menu li {
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding: 5px 0 4px;
}

.menu li:last-child {
	border-bottom: none;
}

tr.error {
	height: 50px;
}

td.error {
	text-align: center;
}

.ticket-closed {
	text-decoration: line-through;
}

.history {
	background-color: #FBFBFB;
}

span.post_private {
	color: #FF0000;
	font-weight: bold;
}

.small {
	font-size: 9px;
}

.comment-buttons {
	margin-top: -18px;
	margin-bottom: 9px;
}
