{% INCLUDECSS '@kinerity_trackers/common.css' %}
{% include 'overall_header.html' %}

<div class="extras">
	<div class="mini-panel">
	<div class="inner">
		<h3>{{ lang('TRACKER_STATISTICS') }}</h3>
		<ul class="menu">
			{% for tracker in trackers_stats %}
			<li><a href="{{ tracker.U_TRACKER_STATS }}">{{ tracker.TRACKER_NAME }}</a></li>
			{% endfor %}
		</ul>
	</div>
	</div>
</div>

<div class="main">
	<h2 class="forum-title">{{ TRACKER_NAME }}</h2>
	<p>
		{{ STATISTICS_EXPLAIN }}
	</p>

	<h3>{{ TIMESPAN_TICKETS }}</h3>
	<div class="forabg">
		<div class="inner">
		<table class="table1" cellspacing="0">
			<colgroup>
				<col width="200" />
			</colgroup>
			<thead>
				<tr>
					<th align="left">{{ lang('PROJECT') }}</th>
					<th align="center">{{ lang('OPEN_TICKETS') }}</th>
					<th align="center">{{ lang('CLOSED_TICKETS') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if projects %}
				{% for project in projects %}
				<tr class="{% if project.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><strong>{% if project.U_PROJECT %}<a href="{{ project.U_PROJECT }}">{% endif %}{{ project.NAME }}{% if project.U_PROJECT %}</a>{% endif %}</strong></td>
					<td align="center">{{ project.OPEN }}</td>
					<td align="center">{{ project.CLOSED }}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
		</div>
	</div>

	<h3>{{ lang('TOTALS') }}</h3>
	<div class="forabg">
		<div class="inner">
		<table class="table1" cellspacing="0">
			<colgroup>
				<col width="200" />
			</colgroup>
			<thead>
				<tr>
					<th></th>
					<th align="center">{{ lang('OPEN_TICKETS') }}</th>
					<th align="center">{{ lang('CLOSED_TICKETS') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if projects_total %}
				{% for project_total in projects_total %}
				<tr class="{% if project_total.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><strong>{% if project_total.U_PROJECT %}<a href="{{ project_total.U_PROJECT }}">{% endif %}{{ project_total.NAME }}{% if project_total.U_PROJECT %}</a>{% endif %}</strong></td>
					<td align="center">{{ project_total.OPEN }}</td>
					<td align="center">{{ project_total.CLOSED }}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
