{% INCLUDECSS '@kinerity_trackers/common.css' %}
{% include 'overall_header.html' %}

<div class="extras">
	<div class="mini-panel">
	<div class="inner">
		<h3>{{ TRACKER_NAME }}</h3>
		<ul class="menu">
			<li><a href="{{ U_STATISTICS }}">{{ lang('STATISTICS') }}</a></li>
		</ul>
	</div>
	</div>
</div>

<div class="main">
	<h2 class="forum-title">{{ TRACKER_NAME }}</h2>

	<p>{{ lang('TRACKER_EXPLAIN') }}</p>
	{% if S_TRACKER_PRIVATE %}<p><strong>{{ lang('TRACKER_PRIVATE') }}</strong></p>{% endif %}

	<div class="forabg">
		<div class="inner">
		<table class="table1" cellspacing="0">
			<colgroup>
				<col width="200" />
			</colgroup>
			<thead>
				<tr>
					<th align="left">{{ lang('PROJECT') }}</th>
					<th align="left">{{ lang('DESCRIPTION') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if projects %}
				{% for project in projects %}
				<tr class="{% if project.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><a href="{{ project.U_VIEWPROJECT }}">{{ project.PROJECT_NAME }}</a></td>
					<td>{{ project.DESCRIPTION }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr class="error">
					<td class="bg1 error" colspan="2">{{ lang('NO_PROJECTS') }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
