<!-- INCLUDECSS @kinerity_trackers/common.css -->
<!-- INCLUDE overall_header.html -->

<div class="extras">
	<!-- INCLUDE ticket_sidebar.html -->
</div>

<div class="main">
	<h2 class="forum-title">{TRACKER_NAME}</h2>

	<h3<!-- IF S_CLOSED --> class="ticket-closed"<!-- ENDIF -->>{TICKET_TITLE} <span>({STATUS_NAME})</span></h3>

	<div id="ticket-box" class="post bg2">
		<div class="inner">
		<div class="postbody wide">
			<div class="content">
				{TICKET_TEXT}
			</div>
		</div>
		</div>
	</div>

	<h3>{L_POSTS_HISTORY}</h3>
	<!-- BEGIN ticket_posts -->
	<!-- IF ticket_posts.S_TYPE == 'HISTORY' -->
	<div id="history{ticket_posts.ID}" class="post" style="background-color: #FBFBFB;">
		<div class="inner">
		<div class="postbody wide" style="font-size: 9px !important;">
		<p class="author">
			<a href="#history{ticket_posts.ID}"><i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i></a>
			<strong>{ticket_posts.TEXT}</strong>
		</p>
		<div class="content">
			Action performed by {ticket_posts.USER}<!-- IF ticket_posts.USER_RANK --> ({ticket_posts.USER_RANK})<!-- ENDIF --> on {ticket_posts.TIMESTAMP}
		</div>
		</div>
		</div>
	</div>
	<!-- ELSE -->
	<div id="post{ticket_posts.ID}" class="post <!-- IF ticket_posts.S_PRIVATE -->reported <!-- ENDIF --><!-- IF ticket_posts.S_ROW_COUNT is even -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
		<div class="inner">
			<div class="postbody wide">
			<p class="author">
				<a href="#history{ticket_posts.ID}"><i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i></a>
				Posted by {ticket_posts.USER}<!-- IF ticket_posts.USER_RANK --> ({ticket_posts.USER_RANK})<!-- ENDIF --> on {ticket_posts.TIMESTAMP}<!-- IF ticket_posts.S_PRIVATE --> - PRIVATE<!-- ENDIF -->
			</p>
				<ul class="post-buttons" style="margin-top: -18px !important; margin-bottom: 9px !important;">

					<li>
						<a href="{ticket_posts.U_EDIT}" title="{L_EDIT_POST}" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_EDIT}</span>
						</a>
					</li>

					<li>
						<a href="{ticket_posts.U_DELETE}" title="{L_DELETE_POST}" class="button button-icon-only">
							<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_DELETE}</span>
						</a>
					</li>

					<li>
						<a href="{ticket_posts.U_INFO}" title="{L_INFORMATION}" class="button button-icon-only">
							<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_INFORMATION}</span>
						</a>
					</li>

					<li>
						<a href="{ticket_posts.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button button-icon-only">
							<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_QUOTE}</span>
						</a>
					</li>

				</ul>
			<div class="content">
				{ticket_posts.TEXT}
			</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->
	<!-- BEGINELSE -->
	<div class="post bg1">
		<div class="inner">
		<strong>{L_NO_POSTS_HISTORY}</strong>
		</div>
	</div>
	<!-- END ticket_posts -->

	<div class="action-bar bar-bottom">
		<a href="{U_POST_REPLY_TICKET}" class="button" title="{L_POST_REPLY}">
			<span>{L_BUTTON_POST_REPLY}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
		</a>

		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
