{% INCLUDECSS '@kinerity_trackers/common.css' %}
{% include 'overall_header.html' %}

<div class="main wide">
	<h2 class="forum-title">{{ TRACKER_NAME }}</h2>

	<div class="post bg2">
		<div class="inner">
		<strong>{{ lang('CURRENT_STATUS') }}{{ lang('COLON') }}</strong> {{ STATUS }}
		</div>
	</div>

	<div class="action-bar bar-top">
		<a href="{{ U_POST_NEW_TICKET }}" class="button" title="{{ lang('POST_TICKET') }}">
			<span>{{ lang('BUTTON_NEW_TICKET') }}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
		</a>

		<div class="search-box">
			<form method="get" id="ticket_status_form" action="{{ U_ACTION }}"><fieldset>
			<label for="ticket_status">
				<strong>{{ lang('FILTER_TICKETS') }}{{ lang('COLON') }}</strong>
			</label>
			<select id="ticket_status" name="ticket_status" onchange="document.getElementById('ticket_status_form').submit();">
				<option value="-1"{% if STATUS_ID == -1 %} selected="selected"{% endif %}>{{ lang('ALL_TICKETS') }}</option>
				<option value="0"{% if STATUS_ID == 0 %} selected="selected"{% endif %}>{{ lang('ALL_OPEN') }}</option>
				<option value="-2"{% if STATUS_ID == -2 %} selected="selected"{% endif %}>{{ lang('ALL_CLOSED') }}</option>
				{% for status in status_ary %}
				<option value="{{ status.ID }}"{% if status.ID == STATUS_ID %} selected="selected"{% endif %}>{{ status.NAME }}</option>
				{% endfor %}
			</select>
			<noscript><p><input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button2" /></p></noscript>
			{{ S_HIDDEN_FIELDS }}
			</fieldset></form>
		</div>

		<div class="pagination">
			{{ TOTAL_TICKETS }}
			{% if pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>

	<div class="forabg">
		<div class="inner">
		<table class="table1" cellspacing="0">
			<colgroup>
				<col width="5%" />
				<col width="45%" />
				<col width="15%" />
				<col width="20%" />
				<col width="15%" />
			</colgroup>
			<thead>
				<tr>
					<th align="left">#</th>
					<th align="left">{{ lang('TITLE') }}</th>
					<th align="center">{{ lang('COMPONENT') }}</th>
					<th align="center">{{ lang('ASSIGNED') }}</th>
					<th align="center">{{ lang('STATUS') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if tickets %}
				{% for ticket in tickets %}
				<tr class="{% if ticket.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td><strong>{{ ticket.ID }}</strong></td>
					<td>
						{% if ticket.S_PRIVATE %}<i>{% endif %}<strong><a href="{{ ticket.U_VIEWTICKET }}">{{ ticket.TITLE }}</a></strong>{% if ticket.S_PRIVATE %}</i>{% endif %}<br />
						<span class="small">{{ ticket.REPORTER }} &raquo; {{ ticket.TIMESTAMP }}</span>
					</td>
					<td align="center">{% if ticket.COMPONENT %}{{ ticket.COMPONENT }}{% else %}({{ lang('UNKNOWN') }}){% endif %}</td>
					<td align="center">{% if ticket.ASSIGNED %}<strong>{{ ticket.ASSIGNED }}</strong>{% else %}({{ lang('UNASSIGNED') }}){% endif %}</td>
					<td align="center">{{ ticket.STATUS }}{% if ticket.DUPLICATE_ID %} (#<strong><a href="{{ ticket.U_DUPLICATE }}">{{ ticket.DUPLICATE_ID }}</a></strong>){% endif %}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr class="error">
					<td class="bg1 error" colspan="5">{{ lang('NO_TICKETS') }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		</div>
	</div>
</div>

{% include 'overall_footer.html' %}
